body {
  background-color: #E5E5E5;
  flex-direction: column;
  
}
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
  /* border: 1px solid #000; */
}

.main {
  /* border: 2px solid rgb(38, 0, 255); */
  display: flex;
  

}

.aside {
  /* border: 1px solid rgb(255, 0, 0); */
  width:20%;
   display: flex;
   flex-direction: column;
  justify-content: flex-start; 
  padding: 0 20px;
} 

.mainDivCatalog {
  
  /* border: 2px solid rgb(43, 255, 0); */
  width: 80%;
  display: flex;
  
}


.catalog-phone{
  padding:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.phone-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 24%;
  /* border: 1px solid #000; */
  background-color: #fff;
  list-style-type: none;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.phone-card:hover {
 box-shadow: 0 0 15px rgb(0 0 0 / 50%);
}
.phone-card-img{
  padding: 20px;
  max-height: 280px;
  /* overflow: hidden; */
}

.phone-card-img:hover img {
  height: 120%;
}

.phone-card-img img{
/* height: 200px; */
height: 100%;
  transition: height 0.5s;
}

.phone-card-content {
padding: 20px;
display: flex;
flex-grow: 1;
flex-direction: column;
border-top: 1px solid #E5E5E5;
width: 100%;
background-color: #fff;
}

.phone-card-name {
font-size: 20px;
font-weight: 500;
color: #000;
text-decoration: none;
}

.phone-card-name:hover {
  color: #000;
  text-decoration: underline;
}

.phone-card-text {
font-size: 14px;

}
.phone-card-action{
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.phone-card-action-buy {
padding: 10px 15px;
color: #fff;
background-color: #000;
border-radius: 20px;
text-decoration: none;

}

.shopping-cart {

}
.shoping-cart-name {
  font-size: 20px;
  font-weight: 500;
}

.shopping-cart-items {
padding: 0;
}

.shopping-cart-item {
  list-style: none;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.shopping-cart-item span:first-child {
  margin-right: 15px;
}

.shopping-cart-item:hover {
  
  background: rgb(161, 161, 161);

  
}

.footer {

}











.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
  
}

/** Detail View **/
 img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
} 

 img.phone:first-child {
  display: block;
} 


 ul.phone-thumbs {
  margin: 0;
  list-style: none;
} 

 ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
} 

 ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
} 

 ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
